{% extends "basefront.html.twig" %}

{% block body %}
    <h1>Ajouter une playlist</h1>

    {{ form_start(formPlaylist) }}
        {{ form_row(formPlaylist.name) }}
        {{ form_row(formPlaylist.description) }}

        <button type="submit">Enregistrer</button>
    {{ form_end(formPlaylist) }}

    <p>
        <a href="{{ path('playlist_index') }}">Retour à la liste</a>
    </p>
{% endblock %}
