{% extends "basefront.html.twig" %}

{% block body %}
    <h1>Ajouter une formation</h1>

    {{ form_start(formFormation) }}
        {{ form_row(formFormation.publishedAt) }}
        {{ form_row(formFormation.title) }}
        {{ form_row(formFormation.description) }}
        {{ form_row(formFormation.videoId) }}
        {{ form_row(formFormation.playlist) }}
        {{ form_row(formFormation.categories) }}

        <button type="submit">Enregistrer</button>
    {{ form_end(formFormation) }}

    <p>
        <a href="{{ path('formation_index') }}">Retour à la liste</a>
    </p>
{% endblock %}
